.contenedorTarjetaDetail{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.tarjeta-Detail{
    width: 28%;
    display: flex;
    flex-direction: row;
}
.card-body-Detail{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

p{
    margin: 0px;
}