.tarjeta{
    width: 18rem;
    margin-bottom: 40px;
    min-height: 40rem;
}
.card-body{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}


p{
    margin: 0px;
}