main{
    background-color: #2437632c;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section div{
    font-size: 70px;
    text-align: center;
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: #f7f3eb;
}