.titulo {
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 0.9375rem;
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: #ffffff;
    background-color: #dacab3;

}

.barraNavegacion {
    display: flex;
    justify-content: flex-end;
}

.barraNavegacion ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.barraNavegacion ul li {
    list-style: none;
    margin: 0 10px;
}

.barraNavegacion li a {
    font-size: 100%;
    text-decoration: none;
    color: black;
}

.barraNavegacion li a:hover {
    text-decoration: underline;
    color: #AD8E70;
}