
.titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #243763;
    margin: 0;
}

.barraNavegacion {
    display: flex;
    justify-content: space-around;
}

.barraNavegacion ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.barraNavegacion ul li {
    padding: 3px 20px;
    list-style: none;
}

.barraNavegacion ul li a {
    font-size: 100%;
    text-decoration: none;
    color: black;
}

.barraNavegacion a:hover {
    text-decoration: underline;
    color: #AD8E70;
}