.contenedorContador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador {
    display: flex;
    padding: 10px;
    align-items: center;
}

.contador p {
    font-size: 15px;
    padding: 0 2px;
}

.contador button {
    padding: 5px;
}

.agregar {
    display: flex;
}

.agregar button {
    border: 0;
    padding: 3px;
    background-color: #24376300;
}

.agregar button:hover {
    border: 1px solid #243763;
    background-color: #243763;
    color: #f7f3eb;
    border-radius: 8px;
}
