
.contenedorContador{
display: grid;
justify-items: center;
}
.contador {
    display: flex;
    padding: 10px;
}

.contador p {
    font-size: 15px;
}

.contador button {
    padding: 5px;
}
.agregar{
    display: flex;
}
.agregar button{
    border: 0;
    padding: 3px;
    background-color: #24376300;
}
.agregar button:hover{
    border: 1px solid #243763;
    background-color: #243763;
    color: #f7f3eb;
    border-radius: 8px;
}
